h1{
    color: red;
     font-style: curved;
}
body{
    background-image: url(Netflix-background\ html.jpg);
    backface-visibility:inherit;
    position: fixed;
    
    
}
body h2,h5 {
    color: white;
}
box{
    text-align: center;

    
}
form {
    text-align: center;

}

form1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: -65px;
    border: 300px;
    margin-left: 600px;
}